@use 'sass:color';
@use 'colors';
@use 'tools';

@use 'components/footer';

@use 'pages/home';
@use 'pages/about';
@use 'pages/projects';
@use 'pages/stats';
@use 'pages/contact';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: colors.$text_col;
  font-family: 'TT Firs Neue', Figtree, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
h1, h2, h3, b {
  color: colors.$text_col_dark;
  .text-white & {
    color: #fff;
  }
}

@media screen and (max-width: 640px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 480px) {
  #main > h1 {
    font-size: 2.1rem;
    line-height: 2.3rem;
  }
}

@media screen and (max-width: 359px) {
  #main > h1 { font-size: 1.7rem; }
  .text-3xl { font-size: 1.7rem; line-height: 2rem; }
  .text-4xl { font-size: 2rem; }
}
