@use '../colors';

.page-about {
  .about {
    border-radius: 0 0 60px 60px;
  }

  .mission {
    &> :nth-child(2) {
      .bg {
        z-index: -1;
        width: 100%; height: auto;
        top: 0; left: 0;
        border-radius: 10px;
        @media (min-width: 1024px) {
          min-height: 420px;
        }
      }
      .bg-gradient {
        z-index: -2;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .icon {
      position: absolute;

      @media not all and (min-width: 481px) {
        width: 110px; height: 110px;
        top: 50%;
        transform: translateY(-50%);
        &-1 {
          top: calc(50% - 40px); left: 10px;
        }
        &-2 {
          top: calc(50% + 40px); left: -5px;
          z-index: 1;
        }
        &-3 {
          top: calc(50% + 115px); left: 25px;
        }
      }

      @media (min-width: 481px) and (max-width: 640px) {
        width: 170px; height: 170px;
        transform: translateY(-50%);
        &-1 {
          top: calc(50% - 80px); left: 10px;
        }
        &-2 {
          top: calc(50% + 40px); left: -5px;
          z-index: 1;
        }
        &-3 {
          top: calc(50% + 155px); left: 25px;
        }
      }

      @media (min-width: 640px) and (max-width: 768px) {
        width: 170px; height: 170px;
        transform: translateY(-50%);
        &-1 {
          top: calc(50% - 80px); left: 10px;
        }
        &-2 {
          top: calc(50% + 40px); left: -5px;
          z-index: 1;
        }
        &-3 {
          top: calc(50% + 155px); left: 25px;
        }
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        width: 225px; height: 225px;
        &-1 {
          top: 25px; left: 0px;
        }
        &-2 {
          top: calc(50% + 60px); left: -40px;
          transform: translate(0, -50%);
          z-index: 1;
        }
        &-3 {
          bottom: calc(0% - 90px); left: 50px;
        }
      }

      @media (min-width: 1024px) {
        width: 200px; height: 200px;
        &-1 {
          top: 25px; left: 0px;
        }
        &-2 {
          top: calc(50% + 60px); left: -40px;
          transform: translate(0, -50%);
          z-index: 1;
        }
        &-3 {
          bottom: calc(0% - 90px); left: 50px;
        }
      }
    }
  }

  .values {
    .items {
      img { margin: 0 auto; max-height: 171px; }
      img.values-1 { max-height: 186px; margin-top: -15px; }
    }
    .bg-gradient {z-index: -1; translate: 0 -600px;}
  }

  .advantages {
    .box {
      font-weight: 500;
      @apply p-6 text-lg leading-tight;
      & .box {
        @apply flex items-center justify-center;
        min-height: 154px;
        min-width: 166px;
      }
    }
    .bg-gradient {z-index: -1; translate: 0 100px;}
  }
}
