@use '../colors';

.page-about {
  .about {
    border-radius: 0 0 60px 60px;
  }

  .mission {
    &> :nth-child(2) {
      height: 400px;
      .bg {
        z-index: -1;
      }
    }
    .icon {
      width: 200px;
      height: 200px;
      position: relative;
      &-1 { top: 0; left: 25px; }
      &-2 { top: -57px; z-index: 1; }
      &-3 { top: -114px; left: 57px; }
    }
  }

  .values {
    img { margin: 0 auto; max-height: 171px; }
    img.values-1 { max-height: 186px; margin-top: -15px; }

    .box { box-shadow: 0px 4px 20px 0px #002E451A; }
  }

  .advantages {
    .box {
      box-shadow: 0px 4px 20px 0px #002E451A;
      & .box { box-shadow: none; }
    }
  }
}
